@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*  {
    box-sizing: border-box;
    }
    body {
        background-image: url("./3cf39415ac4972e7f058c8f37130f33c.jpg");
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Poppins', sans-serif;
        min-height: 100vh;
        margin: 0;
    }
    h1{
        font-weight: bold;
        font-size: -15rem;
        margin-top: -2rem;
    }
    h2{
        font-weight: bold;
        font-size: -15rem;
        margin-top: 4rem;
    }

    .countdown-container{
        display: flex;
    }
    .big-text {
        font-weight: bold;
        font-size: 6rem ;
        line-height: 1;
        margin: 0 2rem;
    }